<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup, android:label">

        <!-- Override FTC activities to set exported flag -->
        <activity
            android:name="org.firstinspires.ftc.robotcontroller.internal.FtcRobotControllerActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.firstinspires.ftc.robotcontroller.internal.PermissionValidatorWrapper"
            android:exported="false"
            tools:node="replace" />
    </application>

</manifest>
